<section class="no-padding" id="konusmacilar">
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-lg-4 col-sm-6">
        <a href="#" class="team-box">
          <img src="img/people/placeholder2.png" class="img-responsive" alt="">
          <div class="team-box-caption">
            <div class="team-box-caption-content">
              <div class="member-description text-faded">
                Category
              </div>
              <div class="member-name">
                Project Name
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="#" class="team-box">
          <img src="img/people/placeholder1.png" class="img-responsive" alt="">
          <div class="team-box-caption">
            <div class="team-box-caption-content">
              <div class="member-description text-faded">
                Category
              </div>
              <div class="member-name">
                Project Name
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="#" class="team-box">
          <img src="img/people/placeholder2.png" class="img-responsive" alt="">
          <div class="team-box-caption">
            <div class="team-box-caption-content">
              <div class="member-description text-faded">
                Category
              </div>
              <div class="member-name">
                Project Name
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="#" class="team-box">
          <img src="img/people/placeholder1.png" class="img-responsive" alt="">
          <div class="team-box-caption">
            <div class="team-box-caption-content">
              <div class="member-description text-faded">
                Category
              </div>
              <div class="member-name">
                Project Name
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="#" class="team-box">
          <img src="img/people/placeholder2.png" class="img-responsive" alt="">
          <div class="team-box-caption">
            <div class="team-box-caption-content">
              <div class="member-description text-faded">
                Category
              </div>
              <div class="member-name">
                Project Name
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="#" class="team-box">
          <img src="img/people/placeholder1.png" class="img-responsive" alt="">
          <div class="team-box-caption">
            <div class="team-box-caption-content">
              <div class="member-description text-faded">
                Category
              </div>
              <div class="member-name">
                Project Name
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
