.page-service {
  .content {
    > p {
      &:first-of-type {
        font-size: calc(0.8em + 0.4vw);
        line-height: 1.4;
        margin-bottom: 40px;
        font-weight: regular;
        color: white;
      }
    }
  }
}
