---
---

// Colors
$primary: #e5261f;
$primary-dark: #a01b16;
$secondary: #f88379;
$black: #ffffff;
$white: #121212;
$white-offset: #000000;
$steel: #ffffff;

// Links
$link-color: $primary;
$link-decoration: none;
$link-hover-color: lighten($primary, 10%);
$link-hover-decoration: underline;

// Fonts
$font-family-base: Helvetica, sans-serif, -apple-system;
$font-family-heading: "Helvetica Bold", serif, -apple-system;

// Footer
$footer-background-color: $primary;
$footer-text-color: $black;
$sub-footer-background-color: darken($primary, 10%);
$sub-footer-text-color: $white;

// Bootstrap
@import "bootstrap-variables";
@import "bootstrap/bootstrap-reboot";
@import "bootstrap/bootstrap-grid";
// @import 'bootstrap/bootstrap'; // Uncomment this line to import the entire Bootstrap library

// Libraries
@import "libraries/hamburgers/hamburgers";

// Components
@import "components/type";
@import "components/page";
@import "components/header";
@import "components/footer";
@import "components/sub-footer";
@import "components/logo";
@import "components/main-menu";
@import "components/main-menu-mobile";
@import "components/hamburger";
@import "components/buttons";
@import "components/call";
@import "components/title";
@import "components/content";
@import "components/intro";
@import "components/intro-image";
@import "components/strip";
@import "components/feature";
@import "components/social";
@import "components/fonts"; // Uncomment this line to self host font

// Pages
@import "pages/page-home";
@import "pages/page-teams";
@import "pages/page-service";

body {
  font-size: 16px;
  line-height: 1.2;
  font-family: $font-family-base;


  @include media-breakpoint-up(md) {
    font-size: 16px;
    line-height: 1.3;
  }
}

.custom_overlay_wrapper { position: relative; }

.custom_overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  opacity: 1;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;

}

.custom_overlay:hover {
  opacity: 1;
}

.custom_overlay_inner {
  position: absolute;
  top: 50%;
  left: 10px;
  right: 10px;
  transform: translateY(-50%);
}

.custom_overlay h4 {
  position: relative;
  margin-bottom: 4px;
}

.custom_overlay p {
  color: $primary;
  font-size: calc(4em + 0.25vw);
  line-height: calc(1em + 1vw);
  font-family: "Gilroy Bold";
}

.custom_overlay h4:after {
  content: "";
  position: center;
  bottom: 0;
}

/*------------------- TABLET ------------------*/
@media only screen and ( min-width: 600px ) and ( max-width: 999px ) {
  .custom_overlay h4 { font-size: 80%;}
  .custom_overlay p {
    font-size: 85%;
  }
}

/*------------------- MOBILE ------------------*/
@media only screen and ( max-width: 599px ) {
  .custom_overlay h4 {font-size: calc(1.6em + 0.2vw);}
  .custom_overlay p {font-size: calc(1.4em + 0.2vw);}
}