@font-face {
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 400;
	src: url('/assets/fonts/playfair-display.woff2');
}

@font-face {
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 400;
	src: url('/assets/fonts/Helvetica.ttf');
}

@font-face {
	font-family: 'Gilroy Bold';
	font-style: auto;
	font-weight: bold;
	src: url('/assets/fonts/Gilroy-ExtraBold.ttf');
}

