.intro-image {
  width: 100%;
  height: auto;
  margin-top: 0px;
}
.intro-image-absolute {
  max-width: none;

  padding: 0;
  margin-bottom: 30px;
  @include media-breakpoint-up(sm) {

  }
  @include media-breakpoint-up(md) {
    position: absolute;
    bottom: -100px;
    left: -70vw;
    width: 140vw;
  }
  @include media-breakpoint-up(lg) {
    position: absolute;
    bottom: -100px;
    left: -50vw;
    width: 100vw;
  }
  @include media-breakpoint-up(xl) {
    position: absolute;
    bottom: -170px;
    left: -50vw;
    width: 100vw;
  }
}
.intro-image-hide-mobile {
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
}
