.intro {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: calc(0.8em + 2vw);
  padding-bottom: calc(0.8em + 0.4vw);
  overflow: hidden;
  @include media-breakpoint-up(md) {
    padding-top: calc(0.8em + 2vw);
    padding-bottom: calc(0.8em + 0.8vw);
  }
  h1 {
    color: $primary;
    font-size: calc(2em + 0.8vw);
    font-weight: bold;
    line-height: 1.2;
    @include media-breakpoint-up(md) {
      width: 80%;
      font-size: 48px;
    }
    @include media-breakpoint-up(lg) {
      font-size: 50px;
    }
  }
  h2 {
    width: 80%;
    font-size: calc(1em + 0.6vw);
    line-height: 1.4;
    margin-bottom: 30px;
    color: $black;
    font-family: $font-family-base;
  }
  p {
    font-size: calc(0.8em + 0.4vw);
    font-weight: bold;
    line-height: 1.5;
    color: $black;
    @include media-breakpoint-up(md) {
      width: 80%;
    }
  }
}

.intro-small {
  padding-top: 100px;
  padding-bottom: 30px;
}
