.logo {
  display: none;
  @include media-breakpoint-up(sm) {
    display: block;
  }
  img {
    max-width: unset;
    aspect-ratio: auto 635 / 47;
    width: 40vw;
    height: 6vh;
  }
  a {
    display: block;
    width: 100%;
    height: 100%;
  }
}
.logo-mobile {
  display: block;
  width: 40px;
  padding: 10px 0 10px 0;
  @include media-breakpoint-up(sm) {
    display: none;
  }
  img {
    max-width: unset;
    aspect-ratio: auto 635 / 47;
    width: 75vw;
    height: 5vh;
  }
  a {
    display: block;
    width: 100%;
    height: 100%;
  }
}