---
layout: default
bodyClass: "page-teams"
---

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
  <div class="row justify-content-start">
    <div class="col-12 col-md-8">
      <div class="team team-single">
        <div class="team private-summary">
          {% if page.image %}
          <div class="private-image">
            <img width="180" height="180" alt="{{ team.title }}" class="img-fluid mb-2" src="{{ page.image | relative_url }}" />
          </div>
          {% endif %}
          <div class="private-meta">
            <h2 class="private-name"><a href="{{ page.url | relative_url }}">{{ page.title }}</a></h2>
            <p class="private-description">{{ page.jobtitle }}</p>
            {% if page.linkedinurl %}
            <a target="_blank" href="{{ page.linkedinurl }}" rel="noreferrer">LinkedIn</a>
            {% endif %}
          </div>
          <div class="private-content">{{page.content}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
